// define sass variables

// define base styling (we should use $bs instead of specifying pixels)
$bs: 8px

// define global colors
$color-primary: #009688
$color-accent: #00BFA5

// material colors
$color-mat-blue: #2196F3
