// define sass variables

// define base styling (we should use $bs instead of specifying pixels)
$bs: 8px

// responsiveness breakpoints matching Vue Material's

$bp-xsmall: 600px
$bp-small: 944px
$bp-medium: 1264px
$bp-large: 1903px
// $bp-large: anything greater than $bp-large

// define global colors
$color-primary: #009688
$color-accent: #00BFA5

// material colors
$color-mat-blue: #2196F3
