/**
 * configure the theme for the application and customize vuetify styles
 */

// import built in color pack variables
@require '../../node_modules/vuetify/src/stylus/settings/_colors'

// TODO: customize theme
// $theme := {
//   primary: $teal
//   accent: $teal.accent-2
//   secondary: $grey.lighten-1
//   info: $blue.lighten-1
//   warning: $amber.darken-2
//   error: $red.accent-4
//   success: $green.lighten-2
// }

// import vuetify styles
@import '../../node_modules/vuetify/src/stylus/main'
